/* estilos navbar */
.navbar-border {
    box-shadow: 0 4px 10px rgba(255,163,132, 0.5);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 75px;
    margin-bottom: 2rem;
}
.menu-hamburguesa {
    flex-grow: 0 !important;
}
.menu-hamburguesa svg {
    fill: var(--rosita);
}
.dropdown-menu-fondo {
    background-color: var(--secundario);
    border: .1rem solid var(--secundario);
}
.dropdown-menu-fondo a {
    text-align: center;
    color: white;
    transition: all 0.3s ease;
}
.dropdown-menu-fondo a:hover {
    font-size: 1.1rem;
    background-color: var(--principal);
    color: var(--rosita);
    border-radius: 15%;
}
.navbar-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--celeste-claro);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* fin estilos navbar */

