:root {
    --principal: #00161e;
    --secundario: #002431;
    --gris-oscuro: #233338;
    --marron: #1e0800;
    --rosita: #ffa384;
    --naranja-oscuro: #8e4c35;
    --naranja-claro: #ebd5c6;
    --celeste-claro: #d3f0f8;
    --blanco: #f7f7f7;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}