:root {
    --principal: #00161e;
    --secundario: #233338;
    --marron: #1e0800;
    --rosita: #ffa384;
    --naranja-oscuro: #8e4c35;
    --naranja-claro: #ebd5c6;
    --blanco: #f7f7f7;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}