{% extends "base.html" %}

{% block tittle %} Nombre restaurante - Inicio{% endblock %}

{% block content %}

<h2>Por que elegirnos?</h2>
<p>Nos apasiona servite cada platillo con amor y dedicacion</p>

<div class="card">

    <img src="{{ url_for('static', filename='primer-plano-carne-asada-salsa-verduras-patatas-fritas-plato-sobre-mesa_181624-35847.avif') }}" alt="comida">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

{% endblock %}
