{% extends "base.html" %}

{% block tittle %} Nombre restaurante - Menu{% endblock %}

{% block content %}

<p>Estas en /menu</p>
<body>

 <h2> Postres</h2>
 
 <div>
    <div>
     <h3> Tarta de queso al horno</h3>     
     <span>SIN GLUTEN</span>
    </div>
    <p>$8.000</p>
 </div>  
 <p>Coulis de frutos rojos</p>  
 
 <div>
    <div>
     <h3> Crema catalana</h3>     
     <span>SIN GLUTEN</span>
    </div>
    <p>$14.000</p>
 </div>  
 <p>Tradicional, con azúcar tostado </p>  
 
 <div>
    <div>
     <h3> Coulant de chocolate</h3>     
    </div>
    <p>$12.000</p>
 </div>  
 <p>Con helado de vainilla</p>  
 
 <div>
    <div>
     <h3>Sorbete de limón</h3>
     <span>VEGANO</span>
     <span>SIN GLUTEN</span>
    </div>
    <p>$7.500</p>
    </div>
    <p>Con menta fresca </p>  
 
</body>
{% endblock %}