{% extends "base.html" %}

{% block tittle %} Nombre restaurante - Menu{% endblock %}

{% block content %}

<p>Estas en /menu</p>

<section class="seccion-12">
    <h2>POSTRES</h2>

    <div class="seccion-12__plato">
        <div class="seccion-12__info">
            <h3>Tarta de queso al horno <span class="badge-singluten">Sin gluten</span></h3>
            <small>Coulis de frutos rojos</small>
        </div>
        <p class="seccion-12__precio">8€</p>
    </div>

    <div class="seccion-12__plato">
        <div class="seccion-12__info">
            <h3>Crema catalana <span class="badge-singluten">Sin gluten</span></h3>
            <small>Tradicional, con azúcar tostado</small>
        </div>
        <p class="seccion-12__precio">7€</p>
    </div>

    <div class="seccion-12__plato">
        <div class="seccion-12__info">
            <h3>Coulant de chocolate</h3>
            <small>Con helado de vainilla</small>
        </div>
        <p class="seccion-12__precio">9€</p>
    </div>

    <div class="seccion-12__plato">
        <div class="seccion-12__info">
            <h3>Sorbete de limón <span class="badge-vegano">Vegano</span> <span class="badge-singluten">Sin gluten</span></h3>
            <small>Con menta fresca</small>
        </div>
        <p class="seccion-12__precio">6€</p>
    </div>

</section>

{% endblock %}
