{% extends "base.html" %}

{% block tittle %} Nombre restaurante - Menu{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}
{% block content %}

<section class="comida-principal">
    <div class="comida-principal-contenido">
    <h2>COMIDA PRINCIPAL</h2>
    {% for comida in comida_principal%}
    <div class="comida-principal-plato">
        <div class="comida-principal-info">
            <h3>{{ comida["nombre_plato"] }}
                {% if comida["es_vegano"] %}
                    <span class="badge-vegano">VEGANO</span>
                {% endif %}
                {% if comida["es_celiaco"] %}
                    <span class="badge-singluten">SIN GLUTEN</span>
                {% endif %}
            </h3>
            <small class="descripcion">{{ comida["descripcion"] }}</small>
        </div>
        <p class="comida-principal-precio">${{ comida["precio"] }}</p>
    </div>    
    {% endfor%}
    </div>
</section>

<section class="seccion-12">
    <div class="seccion-12-contenido">
    <h2>POSTRES</h2>
    {% for postre in postres %}
    <div class="seccion-12-plato">
        <div class="seccion-12-info">
            <h3>{{ postre["nombre"] }}
                {% if postre["es_celiaco"] %}
                    <span class="badge-singluten">SIN GLUTEN</span>
                {% endif %}
                {% if postre["es_vegano"] %}
                    <span class="badge-vegano">VEGANO</span>
                {% endif %}
            </h3>
            <small class="descripcion">{{ postre["descripcion"] }}</small>
        </div>
        <p class="seccion-12-precio">${{ postre["precio"] }}</p>
    </div>
    {% endfor %}
</section>    

<section class="seccion-13">
    <div class="seccion-13-contenido">
        <h2>BEBIDAS</h2>
        {% for bebida in bebidas %}
        <div class="seccion-13-bebida">
            <div class="seccion-13-info">
                <h3>{{ bebida["nombre"] }}
                    {% if bebida["es_alcoholica"] %}
                        <span class="badge-alcoholica">ALCOHOLICA</span>
                    {% endif %}
                </h3>
                <small class="descripcion">{{ bebida["descripcion"] }}</small>
            </div>
            <p class="seccion-13-precio">${{ bebida["precio"] }}</p>
        </div>
        {% endfor %}
    </div> 
    <a href="/reservas" class="seccion-13__boton">RESERVAR</a>
</section>

{% endblock %}
