{% extends "base.html" %}

{% block tittle %} Nombre restaurante - Registro{% endblock %}

{% block content %}

<h2>Sign up</h2>
<form action='/registrarse' method="post">
    <label for="nombre_apellido">Nombre y Apellido:</label>
    <input type="text" id="nombre_apellido" name="nombre_apellido" placeholder="Nombre y Apellido">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Email">
    <label for="telefono">Telefono:</telefono>
    <input type="text" id="telefono" name="telefono" placeholder="Telefono">
    <label for="contrasenia">Contraseña:</label>
    <input type="text" id="contrasenia" name="contrasenia" placeholder="Contraseña">
    <button type="submit">Crear cuenta</button>
</form> 

{% endblock %}
