{% extends "base.html" %}

{% block tittle %} Nombre restaurante - Reseñas{% endblock %}

{% block content %}

{#seccion 20#}
<section class="contenido-resena">

    <h1 class="titulo-resena"> ¡Reseñas de nuestros clientes! </h1>
    
    <div class="btn">
        <a href="#" class="boton-resena">Dejanos tu reseña aqui</a>
    </div>

<div class="movimiento-resena">

    <button class="flecha-btn" id="prev-btn">flecha</button>

    <div class="resenas-slider"> {# esta clase sirve para hacer el efecto de la reseña que se mueva con los botones usando css #}
        <div class="resenas-track"> {# clase para hacer el efecto de la reseña en movimiento #}
         
            {%for resena in reseñas%} 
             <div class="comentario text-center">
                <p class="comentario-personalizado">
                    "{{ resena.comentario }}"
                </p>
                
                <img src="{{ url_for('static', filename='images/'~resena.foto) }}" alt="imagen-persona" width="100" height="100">
                
                <h5 class="nombre">{{ resena.nombre }}</h5>

            </div>
          {% endfor %}
        </div>
    </div>

    <button class="flecha-btn" id="next-btn">flecha</button>
</section>

<h3>Dejanos tu reseña</h3>
<form action='/agregar_resena' method="post">
        <label for="nombre">Nombre y Apellido:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre y Apellido">
        <label for="mensaje">Mensaje:</label>
        <input type="text" id="mensaje" name="mensaje" placeholder="Mensaje">
        <button type="submit">Enviar</button>
    </form>

{% endblock %}

