{% extends "admin/admin_base.html" %}

{% block tittle %}Gestión de Menú{% endblock %}

{% block estilos %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_menu.css') }}">
{% endblock %}

{% block content %}
<table class="topper">
    <tr>
        <th><h4>Maestro de articulos (Menu)</h4></th>
        <th>
            <form action="/admin/nuevo_articulo" method="POST">
                <button class="nuevo-articulo-boton" type="submit">Nuevo articulo</button>
            </form>
        </th>
    </tr>
</table>
<section class="seccion-admin-menu">
    <h3>Comida principal</h3>
    <table class="tabla-admin-menu">
        <tr>
            <th>Codigo</th>
            <th>Nombre comercial</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Es vegano</th>
            <th>Es celiaco</th>
            <th>Img Plato</th>
            <th>Acciones</th>
        <tr>
        <tbody>
        {% for comida in comida_principal %}
            <tr>
                <td>{{ comida.id_plato }}</td>
                <td>{{ comida.nombre_plato }}</td>
                <td>{{ comida.precio }}</td>
                <td>{{ comida.descripcion}}</td>
                <td>{{ comida.es_vegano }}</td>
                <td>{{ comida.es_celiaco }}</td>

                <td>
                    {% if comida.imagen %}
                    <img src="{{ comida.imagen }}" width="80">
                    {% else %}
                    <span>Sin imagen</span>
                    {% endif %}
                </td>

                <td>
                    </form>
                    <form action="/admin/eliminar_articulo" method="post">
                        <input type="hidden" name="id_comida" value="{{ comida.id_plato }}">
                        <input type="hidden" name="categoria" value="platos_principales"> <button type="submit" class="btn-icono eliminar">🗑️</button>
                    </form>
                    <form action="/admin/modificar_articulo" method="post">
                        <input type="hidden" name="categoria" value="comida_principal">
                        <input type="hidden" name="id_plato" value="{{ comida.id_plato }}">
                        <button type="submit">Modificar Articulo</button>
                    </form>
                </td>
            <tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Postres</h3>
    <table class="tabla-admin-menu">
        <tr>
            <th>Codigo</th>
            <th>Nombre comercial</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Es vegano</th>
            <th>Es celiaco</th>
            <th>Acciones</th>
        <tr>
        <tbody>
        {% for postre in postres %}
            <tr>
                <td>{{ postre.id_postre }}</td>
                <td>{{ postre.nombre }}</td>
                <td>{{ postre.precio }}</td>
                <td>{{ postre.descripcion}}</td>
                <td>{{ postre.es_vegano }}</td>
                <td>{{ postre.es_celiaco }}</td>
                <td>
                    <form action="/admin/eliminar_articulo" method="post">
                        <input type="hidden" name="id_comida" value="{{ postre.id_postre }}">
                        <input type="hidden" name="categoria" value="postres"> <button type="submit" class="btn-icono eliminar">🗑️</button>
                    </form>
                    <form action="/admin/modificar_articulo" method="post">
                        <input type="hidden" name="categoria" value="postres">
                        <input type="hidden" name="id_plato" value="{{ postre.id_postre }}">
                        <button type="submit">Modificar Articulo</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Bebidas</h3>
    <table class="tabla-admin-menu">
        <tr>
            <th>Codigo</th>
            <th>Nombre comercial</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Es alcoholica</th>
            <th>Acciones</th>
        <tr>
        <tbody>
        {% for bebida in bebidas %}
            <tr>
                <td>{{ bebida.id_bebidas }}</td>
                <td>{{ bebida.nombre }}</td>
                <td>{{ bebida.precio }}</td>
                <td>{{ bebida.descripcion}}</td>
                <td>{{ bebida.es_alcoholica }}</td>
                <td>
                    <form action="/admin/eliminar_articulo" method="post">
                        <input type="hidden" name="id_comida" value="{{ bebida.id_bebidas }}">
                        <input type="hidden" name="categoria" value="bebidas"> 
                        <button type="submit" class="btn-icono eliminar">🗑️</button>
                    </form>
                    <form action="/admin/modificar_articulo" method="post">
                        <input type="hidden" name="categoria" value="bebidas">
                        <input type="hidden" name="id_plato" value="{{ bebida.id_bebidas }}">
                        <button type="submit">Modificar Articulo</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

