{% extends "admin/admin_base.html" %}
{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_menu.css') }}">
{% endblock %}

{% block content %}

<form action="/admin/creacion_nuevo_articulo" method="post">
    <div class="contenedor">
        <div class="contenedor-header">
            <h3>Alta de Nuevo Artículo</h3>
            <button class="cerrar"><a href="{{ url_for('admin_menu') }}" class="cerrar">X</a></button>
        </div>
        <div class="contenedor-body">
            <div class="fila">
                <div class="grupo">
                    <label>NOMBRE COMERCIAL</label>
                    <input type="text" name="nombre">
                </div>
                <div class="grupo precio">
                    <label>PRECIO ($)</label>
                    <input type="number" name="precio">
                </div>
            </div>
            <div class="grupo">
                <label>CATEGORÍA</label>
                <select id="categoria" name="categoria">
                    <option value="comida">Comida principal</option>
                    <option value="postre">Postre</option>
                    <option value="bebida">Bebida</option>
                </select>
                <div id="campos-comida">
                    <label>
                        <input type="checkbox" name="vegano">
                            Es vegano
                    </label>
                    <label>
                        <input type="checkbox" name="celiaco">
                            Es apto celíacos
                    </label>
                </div>
                <div id="campos-bebida">
                    <label>
                        <input type="checkbox" name="alcoholica">
                            Es alcohólica
                    </label>
                </div>
            </div>
            <div class="grupo">
                <label>DESCRIPCIÓN</label>
                <textarea rows="4" name="descripcion"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-cancelar"><a href="{{ url_for('admin_menu') }}" class="cerrar">Cancelar</a></button>
            <button type="submit" class="btn-guardar">Guardar Registro</button>
        </div>
        </div>
    </div>
</form>

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% endblock %}
