{% extends "admin/admin_base.html" %}

{% block tittle %}Padrón de Usuarios{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_usuarios.css') }}">
{% endblock %}

{% block content %}

<section class="padron-seccion-admin">     
    <div class="padron-header">
        <h2 class="padron-titulo-seccion">Padrón de Usuarios del Sistema</h2>
        <a href="#" class="padron-btn-descargar">descargar pdf</a>
    </div>

    <table class="padron-tabla">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email Registrado</th>
                <th>Nombre Completo</th>
                <th>Rol</th>
                <th>Acciones de Administrador</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td class="padron-id">
                    <div class="padron-id-contenedor">
                        {{ usuario["id_usuario"] }}
                    </div>
                </td>
                <td class="padron-email">{{ usuario["email"] }}</td>
                <td>{{ usuario["nombre_apellido"] }}</td>
                <td>
                    {% if usuario["id_usuario"] == 1 %}
                        <span class="padron-badge badge-super-admin">Super Admin</span>
                    {% elif usuario["es_admin"] %}
                        <span class="padron-badge badge-admin">Admin</span>
                    {% else %}
                        <span class="padron-badge badge-cliente">Cliente</span>
                    {% endif %}
                </td>
                <td class="padron-gestion">
                    {% if usuario["id_usuario"] == 1 %}
                        <span class="padron-texto-bloqueado">Bloqueado por Seguridad</span>
                    {% else %}                
                        {% if usuario["es_admin"] %}
                            <a href="/admin/usuario/{{ usuario['id_usuario'] }}/quitar-admin" class="padron-btn-gestion boton-rojo" title="Quitar Admin">✕</a>
                        {% else %}
                            <a href="/admin/usuario/{{ usuario['id_usuario'] }}/dar-admin" class="padron-btn-gestion boton-verde" title="Dar Admin">✓</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
